/* colors
#e6e7d5 Eggshell
#c9cba3 dark vanilla
#a5a786
#ffe1a8 Navajo White
#e26d5c Terra Cotta
#723d46 Roast Coffee
#472d30 Old Burgundy
*/

/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;    
}

a {
    color: #ed6a5a;
}
a:hover {
    text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 5px;
  margin-bottom: 5px;
  color: #e26d5c;
  font-family: 'Bitter', serif;
}

.head-p2{
    color:#a5a786;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    
}
.head-p {
    padding-bottom: 0px;
    margin: 0px;
}

.wrapper{
    max-width: 100%;
    margin: 0px auto; 
}

/* Map
------------------------------------*/
.panel {
    width: 20%;
    height: 500px;
    border-right: 5px solid #c9cba3;
    border-top: 5px solid #c9cba3;
    border-bottom: 5px solid #c9cba3;
    background-color: #e6e7d5;
    text-indent: 10px;
    float: right;
}

#map {
    width: 80%;
    height: 500px;
    display: inline-block;
    border:5px solid #c9cba3;
    margin: 0px auto;
    padding: 10px auto;
    float: left;  
}

/* Header & Footer
------------------------------------*/
header, #map-title {
  background: #472d30;
  color: #a5a786; 
  text-align: center;
}

/* Header*/
header h2 {
    color: #e26d5c;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Bitter', serif;
    clear: both;
}

/*Footer*/
footer {
    text-align: center;
    background: #472d30;
    color: #a5a786; 
    padding-top: 2px;
    padding-bottom: 5px;
    /*margin-top: 0px;
    margin-bottom: 0px;*/
    clear:both
}

.citation {
    margin-top: 5px;
    margin-bottom: 5px;
}

#creditText a {
    padding-left: 5px;
    display: inline-block;
}

/* Popup
------------------------------------*/
.leaflet-popup-content p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding 5px;
}

.leaflet-control-layers-toggle{ 
    width:auto;
    background-position:3px 50% ;
    padding:3px;
    padding-left:36px;
    text-decoration:none;
    line-height:36px;
}

/* Legend
------------------------------------*/
.info {
padding: 6px 8px;
font: 14px/16px 'Open Sans', sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}

.legend {
background-color: “black”;
line-height: 25px;
color: #555;
width: auto;
}
.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;
}
